body {
  background: #1e1e2f;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: #2e2e3a;
  border-radius: 20px;
  padding: 20px;
  width: 320px;
  box-shadow: inset 5px 5px 10px #252530, inset -5px -5px 10px #38384a;
}

.display {
  color: white;
  font-size: 2.5rem;
  text-align: right;
  height: 60px;
  padding: 20px 10px;
  border-bottom: 2px solid #444;
  overflow-x: auto;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.btn {
  background: #2e2e3a;
  color: #00ff84;
  font-size: 1.4rem;
  border: none;
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
  box-shadow: 5px 5px 10px #252530, -5px -5px 10px #38384a;
  transition: 0.2s;
}

.btn:active {
  box-shadow: inset 5px 5px 10px #252530, inset -5px -5px 10px #38384a;
}

.equals {
  background: orange;
  color: white;
}
